#header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  /* width: 100vw; */

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  height: 80px;
  z-index: 999999;

  transition: 0.2s ease-in-out;
}

#header-bg {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;

  height: 80px;
  z-index: 999998;

  background-color: #fdf7fd;
  opacity: 0.98;
  box-shadow: #00000033 0px 00px 10px;

  transition: 0.2s ease-in-out;
}

#header-logo-ms {
  width: 90px;
  min-width: 70px;
  margin: 10px;
}

#header-btns-div {
  margin-right: 20px;
  display: flex;
  flex-wrap: nowrap;
}

.header-btns-btn {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  padding: 10px;
  background-color: transparent;
  border: none;

  font-size: 20px;
  cursor: pointer;

  color: #53195d;

  /* https://www.radix-ui.com/colors PLUM */
}

#selected-btn {
  height: 8px;
  width: 8px;
  position: absolute;
  background-color: #53195d;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;

  /* right: 75 Contact && 180 Feed && 308 Life */
}
@keyframes dot-slide-about {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dot-slide-feed {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dot-slide-contact {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.hamMenu {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 999999999;

  cursor: pointer;
}

.hamSlice {
  width: 80%;
  height: 12%;
  background-color: #53195d;
  border: solid 2px #fdf7fd;
  border-radius: 20px;

  transition: 0.2s ease-out;
}

.hamSliceCross1 {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #53195d;
  border: solid 2px #fdf7fd;
  border-radius: 20px;
  transform: rotate(45deg);
}

.hamSliceCross2 {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #53195d;
  border: solid 2px #fdf7fd;
  border-radius: 20px;
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf7fd;
  height: fit-content; /* Adjust based on your design */
  top: 0px;
  z-index: 9999;
  border-left: #53195d1a 2px solid;
  border-bottom: #53195d1a 2px solid;
  border-bottom-left-radius: 20px;
  overflow-x: hidden;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 400px;

  transition: 0.3s ease-in-out;
}

.underline-on-hover {
  position: relative;
  text-decoration: none;
}

.underline-on-hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Épaisseur de la ligne de soulignement */
  bottom: 0;
  left: 0;
  background-color: #53195d; /* Couleur du soulignement initial */
  transition: width 0.3s ease; /* Transition animée */
}

.underline-on-hover:hover::before {
  width: 100%;
}
