.job-article {
  padding: 50px;
  margin-bottom: 100px;
  transition: all 0.2s ease-in-out;
  margin-left: 0;
  margin-right: 0;
}

.job-article:hover {
  padding: 50px;
  box-shadow: 30px 30px 43px #e9e3e9, -30px -30px 43px #ffffff;
  transition: all 0.2s ease-in-out;
  margin-bottom: 100px;
}

.compagny {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compagny button {
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.compagny img {
  height: 14vh;
}

.compagny h2 {
  font-size: 5.5vh;
}

.job {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.libelle-job {
  font-size: 3vh;
}

.job p {
  font-size: 1.7vh;
}

.open_more_infos {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  left: 50%;
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
  transform: translate(-50%, 15px);
}

.content {
  margin-top: 40px;
  border: #53195d;
  border-top: solid 1px;
  border-bottom: solid 1px;
  position: relative;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  max-height: 0;
  overflow: hidden;

  transition: max-height 600ms ease-in-out;
}

.content.active {
  max-height: 1200px;
  transition: max-height 600ms ease-in-out;
}

.github_badges {
  height: 40px;
  margin: 0px;
  padding: 0px;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.p_badges {
  height: fit-content;
  margin: 0px;
  padding: 8px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #53195d;
  color: #e9e3e9;
  width: fit-content;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.flex-skills {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: flex-start;
  width: 95%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.flex-skills a p {
  color: #e9e3e9;
  text-decoration: underline #e9e3e9;
  background-color: #53195d;
  height: fit-content;
  margin-top: 10px;
  padding: 8px;
  transform: translate(0, -10px);
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 2100px) {
  .compagny img {
    width: 30vw;
  }
}

@media (max-width: 800px) or (max-height: 600px) {
  .compagny {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .compagny h2 {
    font-size: 40px;
  }

  .compagny img {
    width: 65vw;
  }

  .job p {
    font-size: 16px;
  }

  .libelle-job {
    font-size: 22px;
  }
}
